.chat-page {
  padding: 50px 60px 0;
  width: 100%;
  position: relative;

  //.chat-page__content
  &__content {
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  //.chat-page__list
  &__list {
    width: 40%;
  }

  //.chat-page__chat
  &__chat {
    width: 55%;
  }
}
