.sign-form {
  max-width: 100%;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;

  //.sign-form__input
  &__input {
    display: block;
    width: 100%;
    background: #ffffff;
    color: $darkText;
    border-radius: 6px;
    padding: 15px 40px;
    margin-bottom: 30px;
    font-size: 18px;
    box-shadow: 0px 10px 55px rgba(0, 0, 0, 0.05),
      0px 4px 10px rgba(0, 0, 0, 0.25), 0px 10px 25px rgba(0, 0, 0, 0.05);
    &:last-child {
      margin-bottom: 50px;
    }
    &::placeholder {
      font-weight: 500;
      color: $lightText;
    }
  }

  //.sign-form__submit
  &__submit {
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    padding: 15px 50px;
    background: linear-gradient(92.68deg, #7cb8f7 0%, #2a8bf2 100%);
    box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15),
      4px 4px 25px rgba(42, 139, 242, 0.05),
      10px 6px 25px rgba(42, 139, 242, 0.15);
    border-radius: 6px;
  }
}
.authentication-form {
  max-width: 100%;
  width: 500px;
  display: flex;
  justify-content: space-between;

  //.authentication-form__input
  &__input {
    text-align: center;
    padding: 16px 0;
    background: #ffffff;
    width: 10%;
    border-radius: 6px;
    font-size: 18px;
    box-shadow: 0px 10px 55px rgba(0, 0, 0, 0.05),
      0px 4px 10px rgba(0, 0, 0, 0.25), 0px 10px 25px rgba(0, 0, 0, 0.05);
  }
}
.authentication-title {
  margin-bottom: 50px;
  font-weight: 500;
}
