@import "./nullstyles";
@import "./variables";
@import "./fonts";

//Pages
@import "../pages/SignPages/signPage";
@import "../pages/ChatPage/chatPage";

//Components
@import "../components/Form/form";
@import "../components/Alert/alert";
@import "../components/Chat/chat";
@import "../components/Message/message";
@import "../components/MessageInput/messageInput";
@import "../components/Buttons/buttons";
@import "../components/UserProfile/userProfile";
@import "../components/TopMenu/topMenu";
@import "../components/Search/search";
@import "../components/MessageActions/messageActions";
@import "../components/Modal/modal";
@import "../components/ChatForm/chatForm";

body {
  width: 100%;
  background: linear-gradient(180deg, #f3f3fb 0%, #fdfbfd 100%);
  font-family: "TT Norms";
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  border: none;
  box-shadow: none;
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: #b7bdcb;
  box-shadow: 4px 4px 15px rgba(112, 124, 151, 0.05),
    2px 2px 10px rgba(112, 124, 151, 0.1),
    1px 1px 50px rgba(112, 124, 151, 0.15);
  border-radius: 10px;
}
