* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  background: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

@font-face {
  font-family: "TT Norms";
  src: url("../assets/fonts/TTNorms-Regular.eot");
  src: url("../assets/fonts/TTNorms-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTNorms-Regular.woff") format("woff"), url("../assets/fonts/TTNorms-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms";
  src: url("../assets/fonts/TTNorms-Medium.eot");
  src: url("../assets/fonts/TTNorms-Medium.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTNorms-Medium.woff") format("woff"), url("../assets/fonts/TTNorms-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms";
  src: url("../assets/fonts/TTNorms-Bold.eot");
  src: url("../assets/fonts/TTNorms-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/TTNorms-Bold.woff") format("woff"), url("../assets/fonts/TTNorms-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.sign-page {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sign-page__links {
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0d1c2e;
  font-size: 36px;
}

.sign-page__links a {
  font-size: 36px;
  font-weight: 500;
}

.sign-page__links a:first-child {
  margin-right: 25px;
}

.sign-page__links a:last-child {
  margin-left: 25px;
}

.chat-page {
  padding: 50px 60px 0;
  width: 100%;
  position: relative;
}

.chat-page__content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chat-page__list {
  width: 40%;
}

.chat-page__chat {
  width: 55%;
}

.sign-form {
  max-width: 100%;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign-form__input {
  display: block;
  width: 100%;
  background: #ffffff;
  color: #0d1c2e;
  border-radius: 6px;
  padding: 15px 40px;
  margin-bottom: 30px;
  font-size: 18px;
  -webkit-box-shadow: 0px 10px 55px rgba(0, 0, 0, 0.05), 0px 4px 10px rgba(0, 0, 0, 0.25), 0px 10px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 55px rgba(0, 0, 0, 0.05), 0px 4px 10px rgba(0, 0, 0, 0.25), 0px 10px 25px rgba(0, 0, 0, 0.05);
}

.sign-form__input:last-child {
  margin-bottom: 50px;
}

.sign-form__input::-webkit-input-placeholder {
  font-weight: 500;
  color: #707c97;
}

.sign-form__input:-ms-input-placeholder {
  font-weight: 500;
  color: #707c97;
}

.sign-form__input::-ms-input-placeholder {
  font-weight: 500;
  color: #707c97;
}

.sign-form__input::placeholder {
  font-weight: 500;
  color: #707c97;
}

.sign-form__submit {
  position: relative;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  padding: 15px 50px;
  background: linear-gradient(92.68deg, #7cb8f7 0%, #2a8bf2 100%);
  -webkit-box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15), 4px 4px 25px rgba(42, 139, 242, 0.05), 10px 6px 25px rgba(42, 139, 242, 0.15);
          box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15), 4px 4px 25px rgba(42, 139, 242, 0.05), 10px 6px 25px rgba(42, 139, 242, 0.15);
  border-radius: 6px;
}

.authentication-form {
  max-width: 100%;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.authentication-form__input {
  text-align: center;
  padding: 16px 0;
  background: #ffffff;
  width: 10%;
  border-radius: 6px;
  font-size: 18px;
  -webkit-box-shadow: 0px 10px 55px rgba(0, 0, 0, 0.05), 0px 4px 10px rgba(0, 0, 0, 0.25), 0px 10px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 55px rgba(0, 0, 0, 0.05), 0px 4px 10px rgba(0, 0, 0, 0.25), 0px 10px 25px rgba(0, 0, 0, 0.05);
}

.authentication-title {
  margin-bottom: 50px;
  font-weight: 500;
}

.alert {
  max-width: 100%;
  width: 500px;
  padding: 20px 0;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}

.alert-danger {
  background: #ff5353;
}

.alert__message {
  color: #ffffff;
  font-size: 24px;
}

.chat {
  cursor: pointer;
  background: #ffffff;
  border-radius: 6px;
  padding: 30px 40px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 10px 55px rgba(0, 0, 0, 0.05), 0px 4px 10px rgba(0, 0, 0, 0.25), 0px 10px 25px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 10px 55px rgba(0, 0, 0, 0.05), 0px 4px 10px rgba(0, 0, 0, 0.25), 0px 10px 25px rgba(0, 0, 0, 0.05);
}

.chat-selected {
  background: linear-gradient(96.78deg, #7cb8f7 0%, #2a8bf2 100%) !important;
}

.chat-selected .chat__header-time {
  color: #ffffff !important;
}

.chat-selected .chat__message-text {
  color: #ffffff !important;
}

.chat__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat__header-photo {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

.chat__header-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chat__header-name {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.chat__header-roomname {
  font-weight: 700;
  font-size: 18px;
}

.chat__header-time {
  color: #707c97;
  font-size: 16px;
  font-weight: 500;
}

.chat__message {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chat__message-text {
  color: #707c97;
  font-size: 16px;
}

.chat__message-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ff3366;
  color: #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.chatroom__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 60px;
  background: #fafbff;
  border-bottom: 1px solid rgba(112, 124, 151, 0.1);
}

.chatroom__header-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chatroom__header-about p:first-child {
  margin-bottom: 5px;
}

.chatroom__header-about img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

.chatroom__header-info {
  margin-left: 20px;
  font-size: 16px;
}

.chatroom__header-name {
  font-weight: 700;
  font-size: 18px;
}

.chatroom__header-buttons button {
  background: #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.03), 0px 7px 25px rgba(42, 139, 242, 0.03), 0px 5px 25px rgba(42, 139, 242, 0.07);
          box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.03), 0px 7px 25px rgba(42, 139, 242, 0.03), 0px 5px 25px rgba(42, 139, 242, 0.07);
  padding: 14px;
  margin-right: 20px;
}

.chatroom__header-buttons button:last-child {
  margin-right: 0;
}

.chatroom__header-buttons button img {
  width: 24px;
  height: 24px;
}

.chatroom__content {
  position: relative;
  padding: 30px 60px;
  background: #ffffff;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  overflow-y: auto;
  max-height: 60vh;
}

.empty-chat {
  height: 95%;
  background: #fafbff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 26px;
  font-weight: 700;
}

.chat-list__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
}

.chat-list__header-title {
  font-size: 36px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #0d1c2e;
  font-weight: 500;
}

.chat-list__header-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.chat-list__header-filter p {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-transform: capitalize;
  color: #707c97;
}

.chat-list__header-filter div {
  margin-top: 3px;
  margin-left: 6px;
}

.chat-list__header-create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 25px;
  background: linear-gradient(92.68deg, #7cb8f7 0%, #2a8bf2 100%);
  -webkit-box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15), 4px 4px 25px rgba(42, 139, 242, 0.05), 10px 6px 25px rgba(42, 139, 242, 0.15);
          box-shadow: 6px 6px 25px rgba(42, 139, 242, 0.15), 4px 4px 25px rgba(42, 139, 242, 0.05), 10px 6px 25px rgba(42, 139, 242, 0.15);
  border-radius: 6px;
}

.chat-list__header-create p {
  font-size: 19px;
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 500;
  color: #ffffff;
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  max-width: 85%;
  line-height: 26px;
  font-weight: 500;
}

.message:last-child {
  margin-top: 0;
}

.message__file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.message__file img {
  margin-right: 5px;
}

.message-to__sender {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.message-to__content {
  margin: 0 18px 0 24px;
  background: linear-gradient(90.54deg, #60a9f6 0%, #2a8bf2 100%);
  -webkit-box-shadow: 10px 10px 25px rgba(42, 139, 242, 0.1), 15px 15px 35px rgba(42, 139, 242, 0.05), 10px 10px 50px rgba(42, 139, 242, 0.1);
          box-shadow: 10px 10px 25px rgba(42, 139, 242, 0.1), 15px 15px 35px rgba(42, 139, 242, 0.05), 10px 10px 50px rgba(42, 139, 242, 0.1);
  border-radius: 0px 10px 10px 10px;
  color: #ffffff;
  padding: 14px 22px 17px;
}

.message-to__content img {
  max-width: 100%;
}

.message-from {
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.message-from__content {
  margin: 0 22px 0 14px;
  padding: 14px 22px 17px;
  border: 1px solid rgba(112, 124, 151, 0.25);
  border-radius: 10px 10px 0 10px;
  -webkit-box-shadow: 10px 10px 25px rgba(112, 124, 151, 0.05), 15px 15px 35px rgba(112, 124, 151, 0.05);
          box-shadow: 10px 10px 25px rgba(112, 124, 151, 0.05), 15px 15px 35px rgba(112, 124, 151, 0.05);
  color: #707c97;
}

.message-form {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 2px solid rgba(112, 124, 151, 0.15);
  padding-top: 20px;
  padding: 30px 60px;
  background: #ffffff;
}

.message-form__button {
  cursor: pointer;
  margin-right: 10px;
  padding: 8px;
  background: linear-gradient(325.78deg, #2a8bf2 14.76%, #7cb8f7 87.3%);
  border-radius: 50%;
  -webkit-box-shadow: 4px 4px 25px rgba(42, 139, 242, 0.15), 2px 2px 25px rgba(42, 139, 242, 0.05), 4px 6px 10px rgba(42, 139, 242, 0.15);
          box-shadow: 4px 4px 25px rgba(42, 139, 242, 0.15), 2px 2px 25px rgba(42, 139, 242, 0.05), 4px 6px 10px rgba(42, 139, 242, 0.15);
}

.message-form__button input {
  display: none;
}

.message-form__button label {
  cursor: pointer;
}

.message-form__input {
  margin: 0 20px;
  width: 100%;
  color: #707c97;
}

.message-form__input::-webkit-input-placeholder {
  color: rgba(112, 124, 151, 0.5);
}

.message-form__input:-ms-input-placeholder {
  color: rgba(112, 124, 151, 0.5);
}

.message-form__input::-ms-input-placeholder {
  color: rgba(112, 124, 151, 0.5);
}

.message-form__input::placeholder {
  color: rgba(112, 124, 151, 0.5);
}

.message-form__smile {
  margin: 0 32px 0 auto;
}

.react-input-emoji--button {
  margin: 0 20px;
}

.react-input-emoji--container {
  border: none !important;
  font-family: "TT Norms" !important;
}

.react-input-emoji--placeholder {
  font-family: "TT Norms" !important;
}

.attach-button__open {
  position: relative;
}

.attach-button__more {
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 100%;
}

.attach-button__more div {
  margin-bottom: 10px;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user__photo {
  width: 86px;
  height: 86px;
  border-radius: 50%;
}

.user__name {
  margin-top: 15px;
  color: #0d1c2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user__name h4 {
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}

.user__actions {
  margin-top: 3px;
  margin-left: 6px;
}

.top-menu {
  max-width: 20vw;
}

.top-menu__content {
  height: 100vh;
  background: #ffffff;
  padding: 90px 50px 50px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-menu__links {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 45%;
}

.top-menu__links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.top-menu__links a h5 {
  margin-left: 17px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}

.logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
}

.logout__title {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #707c97;
  margin-left: 17px;
}

.search {
  background: #ffffff;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.search__form {
  padding-left: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__form-input {
  font-weight: 500;
  margin-left: 10px;
  font-family: TT Norms;
  font-size: 15px;
  color: #0d1c2e;
}

.search__form-input::-webkit-input-placeholder {
  font-weight: 500;
  color: #707c97;
}

.search__form-input:-ms-input-placeholder {
  font-weight: 500;
  color: #707c97;
}

.search__form-input::-ms-input-placeholder {
  font-weight: 500;
  color: #707c97;
}

.search__form-input::placeholder {
  font-weight: 500;
  color: #707c97;
}

.search__filter {
  font-weight: 500;
  padding: 22px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 2px solid #f5f4fb;
}

.search__filter p {
  font-size: 15px;
  text-transform: capitalize;
  color: #707c97;
}

.search__filter img {
  margin-top: 3px;
  margin-left: 6px;
}

.message-actions {
  margin-right: 20px;
  padding: 15px 10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #e6ecfe;
  -webkit-box-shadow: 10px 10px 25px rgba(112, 124, 151, 0.05), 15px 15px 35px rgba(112, 124, 151, 0.05);
          box-shadow: 10px 10px 25px rgba(112, 124, 151, 0.05), 15px 15px 35px rgba(112, 124, 151, 0.05);
}

.message-actions button {
  font-size: 16px;
  font-weight: 500;
  color: #0d1c2e;
  margin-top: 5px;
}

.message-actions button:first-child {
  margin-top: 0;
}

body {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#f3f3fb), to(#fdfbfd));
  background: linear-gradient(180deg, #f3f3fb 0%, #fdfbfd 100%);
  font-family: "TT Norms";
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  border: none;
}

::-webkit-scrollbar-thumb {
  background: #b7bdcb;
  -webkit-box-shadow: 4px 4px 15px rgba(112, 124, 151, 0.05), 2px 2px 10px rgba(112, 124, 151, 0.1), 1px 1px 50px rgba(112, 124, 151, 0.15);
          box-shadow: 4px 4px 15px rgba(112, 124, 151, 0.05), 2px 2px 10px rgba(112, 124, 151, 0.1), 1px 1px 50px rgba(112, 124, 151, 0.15);
  border-radius: 10px;
}
/*# sourceMappingURL=style.css.map */