.top-menu {
  //.top-menu__content
  &__content {
    height: 100vh;
    background: $backgroundTopMenu;
    padding: 90px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    @media (max-width: $md1) {
      padding: 90px 5px 30px 5px;
      align-items: center;
    }
  }

  //.top-menu__links
  &__links {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45%;

    a {
      display: flex;
      align-items: center;
      text-align: center;
      h5 {
        margin-left: 17px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        @media (max-width: $md1) {
          display: none;
        }
      }
    }
  }
}

.logout {
  display: flex;
  align-items: center;
  margin-top: auto;

  //.logout__title
  &__title {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: $lightText;
    margin-left: 17px;
    @media (max-width: $md1) {
      display: none;
    }
  }
}
