.message-form {
  margin-top: auto;
  display: flex;
  align-items: center;
  border-top: 2px solid rgba(112, 124, 151, 0.15);
  padding: 30px 60px;
  background: #ffffff;

  @media (max-width: $md2) {
    padding: 0;
  }

  //.message-form__button
  &__button {
    cursor: pointer;
    margin-right: 10px;
    padding: 8px;
    background: linear-gradient(325.78deg, #2a8bf2 14.76%, #7cb8f7 87.3%);
    border-radius: 50%;
    box-shadow: 4px 4px 25px rgba(42, 139, 242, 0.15),
      2px 2px 25px rgba(42, 139, 242, 0.05),
      4px 6px 10px rgba(42, 139, 242, 0.15);

    input {
      display: none;
    }
    label {
      cursor: pointer;
    }
  }

  //.message-form__input
  &__input {
    margin: 0 20px;
    width: 100%;
    color: $lightText;
    &::placeholder {
      color: rgba(112, 124, 151, 0.5);
    }
  }

  //.message-form__smile
  &__smile {
    margin: 0 32px 0 auto;
  }
}

.react-input-emoji--button {
  margin: 0 20px;
}
.react-input-emoji--container {
  border: none !important;
  font-family: "TT Norms" !important;
}
.react-input-emoji--placeholder {
  font-family: "TT Norms" !important;
}
