.user {
  display: flex;
  flex-direction: column;
  align-items: center;

  //.user__photo
  &__photo {
    width: 86px;
    height: 86px;
    border-radius: 50%;

    @media (max-width: $md1) {
      width: 36px;
      height: 36px;
    }
  }

  //.user__name
  &__name {
    margin-top: 15px;
    color: $darkText;
    display: flex;
    align-items: center;
    h4 {
      font-size: 18px;
      font-weight: 500;
      white-space: nowrap;
    }
    @media (max-width: $md1) {
      display: none;
    }
  }

  //.user__actions
  &__actions {
    margin-top: 3px;
    margin-left: 6px;
  }
}
