.sign-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  //sign-page__links
  &__links {
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    color: $darkText;
    font-size: 36px;
    a {
      font-size: 36px;
      
      &:first-child {
        margin-right: 25px;
      }
      &:last-child {
        margin-left: 25px;
      }
    }
  }
}
